<div ng-show="game.gameTitle">
  <h2>{{game.gameSettings.name}}</h2>
</div>
<div ng-show="game.saveGameSet">
	<input type="button" value="save" ng-click="game.saveGameData()" />
	<input type="button" value="delete" ng-click="game.deleteGame()" />
</div>
<div ng-repeat="player in game.players track by $index">
  <div class="playerScore">
    {{player.score}}
  </div>
  <input type="text" ng-model="player.name">
  <br><button ng-show="game.scoreButton" ng-click="game.scorePoint(player.name)">Score Point</button>
</div>
