<div class="gameTitle">
  <a href="/dashboard">My Dashboard</a>
</div>


<div class="gameTitle" ng-init="continue.pageLoad()">
  <h2 >{{continue.gameSettings.gameName}}</h2>
</div>


<div class="gameButtons">
	 <input ng-show="continue.scoreButton" type="button" class="btn btn-primary conSave" value="Save Game Updates" ng-click="continue.saveGameUpdates()" />
   <a href="/dashboard" ng-hide="continue.scoreButton"><button class="btn btn-primary">Return to Dashboard</button></a>

</div>

<div ng-repeat="player in continue.gameSettings.players track by $index">
  <form class="form-horizontal">
    <div class="col-sm-3 player">
      <div form-group>
        <div class="col-sm-11">
          <h4>{{player.name}}</h4>
        </div>
      </div>
      <br>
      <br>
      <div class="playerScore">
        {{player.score}}
      </div>
      <div class="form-group">
        <button ng-show="continue.scoreButton" class="btn btn-success btn-score" ng-click="continue.scorePoint($index)">Score Point</button>
      </div>
    </div>
  </form>
</div>
