<div class="newGame">
  <a href="/game" class="btn btn-warning btn-lg">Start a New Game</a>
</div>

<div class="untimedGames">
  <h3>Untimed Games in Progress</h3>
  <ul>
    <li ng-repeat="untimed in dash.untimedGames track by $index">
      <div class="panel panel-info dashPan">
        <div class="panel-heading">
          <h4>{{untimed.gameName}}</h4>
        </div>
        <div class="panel-body">
          Started: {{untimed.gameStart | date: 'shortDate'}}<br>
          Current Leader: <span class="winner">{{untimed.winner.name}}</span> with {{untimed.winner.score}} points<br>
          Total Kicks: {{untimed.totalScore}}
          <br>
          <br><a href="/continueGame"><button ng-click="dash.continueGame(untimed)" class="btn btn-primary">Continue Game</button></a>
          <button ng-click="dash.deleteUntimedGame(untimed._id, $index)" class="btn btn-danger">Delete Game</button>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="timedGames">
  <h3>Completed Timed Games</h3>
  <ul>
    <li ng-repeat="timed in dash.timedGames track by $index">
      <div class="panel panel-info dashPan">
        <div class="panel-heading">
          <h4>{{timed.gameName}}</h4>
        </div>
        <div class="panel-body">
          Played: {{timed.gameStart | date: 'short'}}<br>
          Game Time: {{timed.gameDuration | secondsToTime}}<br>
          Winner: <span class="winner">{{timed.winner.name}}</span> with {{timed.winner.score}} points<br>
          Total Kicks: {{timed.totalScore}}
          <br><button ng-click="dash.deleteTimedGame(timed._id, $index)" class="btn btn-danger">Delete Game</button>
        </div>
      </div>
    </li>
  </ul>
  <a href="/kickReport">View Printable Report</a>
</div>
